<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="../../static/css/tabla_clientes.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../static/img/iconos/s3favicon.ico" type="image/x-icon">

    <title>Admin - Consultas de clientes</title>
</head>
<body>

    
    <section id="container_login">

        <div>
            <a href="../contacto.html"><img src="../../static/img/Logos/s3favicon.png" alt="logoinstitucional"></a>
        </div>

        <h3>ACCESO ADMINISTRADOR</h3>
        <form action="/login" method="post">
           
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Ingresar</button>
        </form>
    </section>

    <section id="container_consultasclientes">

       <div>
            <a href="../contacto.html"><img src="../../static/img/Logos/s3favicon.png" alt="logoinstitucional"></a>
        </div>

        <div>
            <h3>CONSULTAS DE CLIENTES</h3>
        </div>

        <div>
            <table id="table_clientes"> 
                <tr class="head_clientes">
                    <th>ID</th>
                    <th>Nombre y apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Género</th>
                    <th>Servicios</th>
                    <th>Plan</th>
                    <th>Observaciones</th>
                    <th>Apto físico</th>
                    <th>Acciones</th>
                </tr>
                <tr class="row_clientes">
                    <td>1</td>
                    <td>Daniel</td>
                    <td>mail@gmail.com</td>
                    <td>11-5622-2388</td>
                    <td>Hombre</td>
                    <td>Zumba</td>
                    <td>Oro</td>
                    <td>Quisiera saber el costo del plan oro. ¿Tienen pileta?</td>
                    <td>Archivo adjunto</td>
                    <td class="accion">
                        <div id="modif">Modif.</div>
                        <div id="del">Borrar</div>
                    </td>
                </tr>
            </table>
        </div>
    </section>

<script src="../../static/js/login_clientes.js"></script>
</body>
</html>