<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/quienes-somos.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/iconos/s3.ico" type="image/x-icon">

    <title>Sport+ | Nosotros</title>
</head>
<body>

<header>
    <div class="logo-Sport+">
        <img id="logo" src="../static/img/Logos/s3.png" alt="logo">
    </div>
    <nav class ="menu-navegacion">
            <a href="../index.html">INICIO</a>
            <a href="quienes-somos.html">QUIÉNES SOMOS</a>
            <a href="servicios.html">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
    </nav>
</header>

<main>

<section id="banner-quienessomos">
        <h1>QUIÉNES SOMOS</h1>
        <p>Somos un equipo comprometido en transformar vidas a través del fitness y ayudarte a alcanzar tus metas de salud y bienestar. Unite a nuestra comunidad y descubrí el poder de una vida en movimiento</p>
</section>

<section class="container-s2">
    <h1>Instructores</h1>
    <div class="instructores">
        <div class="instructor">
            <h4>BOXEO</h4>
            <img src="../static/img/instructores/instructor3.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id architecto quis velit.</p>
        </div>
        <div class="instructor">
            <h4>FUNCIONAL</h4>
            <img src="../static/img/instructores/instructor2.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rem similique .</p>
        </div>
        <div class="instructor">
            <h4>PILATES</h4>
            <img src="../static/img/instructores/instructor4.jpg" alt="">
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta molestias.</P>
        </div>
        <div class="instructor">
            <h4>SPINNING</h4>
            <img src="../static/img/instructores/instructor5.jpg" alt="">
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta molestias.</P>
        </div>
        <div class="instructor">
            <h4>YOGA</h4>
            <img src="../static/img/instructores/instructor6.jpg" alt="">
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta molestias.</P>
        </div>
        <div class="instructor">
            <h4>ZUMBA</h4>
            <img src="../static/img/instructores/instructor8.jpg" alt="">
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta molestias.</P>
        </div>
    </div>
</section>

<section id="consultas">

    <div id="consultas-titulo">
        <h3>CONTACTANOS</h3>
    </div>

    <div id="consultas-formulario">
        
        <div id="consultas-formulario-left">
            <p>
            Escribinos para consultarnos
            </p>
        </div>

        <div id="consultas-formulario-right">
           
            <form name="miformulario" action="url" method="post">
               
                <div id="campo-nombre">
                    <div>
                    <label for="nombre">Nombre </label>
                    </div>
                    
                    <input type="text" name="nombre" id="nombre">  
                </div>
                
                <div id="campo-mail">
                    <div>
                    <label for="mail">Email </label>
                    </div>
                    <input type="email" name="mail" id="mail">
                </div>
               
                <div id="campo-consulta">
                    <div>
                    <label for="consulta">Consulta </label>
                    </div>
                    <textarea name="consulta" id="consulta" cols="30" rows="10"></textarea>
                </div>

               <div id="campo-enviar">
                <input type="submit" value="Enviar">
                </div>

            </form>
      
        </div>
    </div>
    
</section>
</main>

<footer>

    <div id="footer-left">
   
        <p>
        Suscribite para recibir nuestras novedades
        </p>
    
         <div>
         <input type="email" name="correo" id="correo" placeholder="Escribí tu correo acá"> 
         </div>

    </div>

    <div id="footer-right">

        <div id="footer-right-info">
            <p id="footer-right-mail">info@sportmas.com</p><br>
            <p id="footer-right-cel">11-2399-7732</p><br>
            <p id="footer-right-ubic">Av. Córdoba 2456, CABA</p>
        </div>
    </div>
</footer>

<div id="creditos">
<p>© 2024 Fullstack Python Codo a Codo - Diseño y desarrollo: Sebastián - Lucas - Alejandro</p>
</div>

    
</body>
</html>